.react-calendar__tile--present {
  background-color: #0f9631;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--absent {
  background-color: red;
  color: white;
  border-radius: 50%;
}
